html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

main > .container:first-child {
    padding: 60px 15px 0;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.nav-link {
    border-radius: 0;
}

.btn-flag {
    border: none;
    padding: 2px 8px;
}

button:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

@media (min-width: 576px) {
    .col-lang-button {
        flex: 0 0 auto;
        width: 9.66666667%;
        min-width: 9.66666667%;
    }
}

.b-bar-vertical-inline.b-bar-dark .b-bar-link:hover, .b-bar-vertical-popout.b-bar-dark .b-bar-link:hover, .b-bar-vertical-small.b-bar-dark .b-bar-link:hover, .subsubselect.b-bar-dark .b-bar-link:hover {
    color: var(--b-bar-item-dark-hover-color, #fff);
    background: unset !important;
}

.b-bar-vertical-inline.b-bar-dark .b-bar-link.active, .b-bar-vertical-popout.b-bar-dark .b-bar-link.active, .b-bar-vertical-small.b-bar-dark .b-bar-link.active, .subsubselect.b-bar-dark .b-bar-link.active {
    color: var(--b-bar-item-dark-hover-color, #fff);
    background: var(--b-bar-item-dark-active-background, #0288D1) !important;
}

.lang {
    background-color: gray;
    border-radius: 30px;
}

.activeLang {
    background-color: lightgray;
    border-radius: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.form-group {
    margin-bottom: 15px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}