.corner-radial {
    border-radius: 12px !important;
    border-color: white;
}

.corner-radial-less {
    border-radius: 13px !important;
    border-color: white;
}

.pokemon-card {
    background-color: #36373a;
    border-radius: 10px !important;
    border-color: transparent;
    margin: auto;
    max-width: 200px;
    position: relative;
}

.pokemon-card-large {
    background: var(--b-bar-dark-background, #001529);
    border-radius: 15px;
    margin: auto;
    max-width: 275px;
    position: relative;
}

@media (min-width: 769px) {
    .hover img:hover {
        opacity: 1;
        transform: scale(1.2, 1.2);
        transition: 0.2s all;
        z-index: 200;
    }
    
    .hover img:not(:hover) {
        transform: scale(1, 1);
        transition: 0.2s all;
        z-index: initial;
    }
}

.set {
    margin: auto;
    max-width: 300px;
    position: relative;
}

.modal-content {
    background: var(--b-bar-dark-background, #001529);
    color: white
}

.set-logo {
    border-radius: 15px !important;
    border-color: white !important;
    margin: auto;
    max-width: 250px;
    position: relative;
}

.card {
    background-color: var(--b-bar-dark-background, #001529);
    color: white;
}