.corner-radial {
    border-radius: 15px !important;
    border-color: white;
}

.pokemon-card {
    background-color: #36373a;
    border-radius: 15px;
    margin: auto;
    max-width: 200px;
    position: relative;
}

.set {
    margin: auto;
    max-width: 300px;
    position: relative;
}

.card {
    background-color: var(--b-bar-dark-background, #001529);
    color: white;
}