@page "/oldIndex"
@using DexOfCards.Framework.Data
@using DexOfCards.Framework.Data.Models

<main class="flex-shrink-0">
    <div class="container px-4">
        <div class="row gx-5 gy-3 d-flex align-items-stretch">
            @if (DataStorage.GetAllSets().Where(a => string.IsNullOrWhiteSpace(a.SubRegion)).ToList() is { } sets)
            {
                <div class="col-12 col-lg-6">
                    <div class="row gy-3">
                        <div class="col-12 p-1">
                            <h1 class="text-center fw-bold mb-3" style="color: white">Global Sets</h1>
                            <div class="row gy-3 corner-radial" style="background-color: black">
                                @foreach (var set in sets.Where(a => a.Language != "NonAsia"))
                                {
                                    <div class="col-12 col-sm-6">
                                        <a class="d-block text-reset" href="/set/@set.SetId">
                                            <div class="shadow-sm d-flex align-items-center set-logo">
                                                <div class="text-center p-3 set-logo">
                                                    <img class="img-fluid card corner-radial" src="@set.Logo" alt/>
                                                    <img class="img-fluid" style="text-align: center!important;" src="@set.SetImage" width="25" alt/>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="row gy-3">
                        <div class="col-12 p-1">
                            <h1 class="text-center fw-bold mb-3" style="color: white">Asia-based Sets</h1>
                            <div class="row gy-3 corner-radial" style="background-color: black">
                                @foreach (var set in sets.Where(a => a.Language != "NonAsia"))
                                {
                                    <div class="col-12 col-sm-6">
                                        <div class="d-block text-reset">
                                            <div class="shadow-sm align-items-center">
                                                <a href="/set/@set.SetId">
                                                    <div class="text-center p-3 set-logo">
                                                        <img class="img-fluid card corner-radial" src="@set.Logo" alt/>
                                                        <img class="img-fluid" style="text-align: center!important;" src="@set.SetImage" width="35" alt/>
                                                    </div>
                                                </a>
                                                <div class="text-center set-logo">
                                                    @foreach (var (subsetLang, subset) in Array.Empty<Tuple<string, CardSetModel>>())
                                                    {
                                                        <div class="d-inline-block">
                                                            <a href="/set/@subset.SetId">
                                                                <img class="img-fluid card corner-radial" src="images/icons/@(subsetLang).png" style="max-height: 35px !important; margin: 2px;" alt/>
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</main>

<!-- Width of Set images / Asia: 27px / US: 30 px -->