@page "/set/{setId}"

@using DexOfCards.Framework.Data

@if (DataStorage.GetSet(SetId) is { } CardSet)
{
    <div align="center">
        <h1>@CardSet.SetName</h1>
        <br/>
        <img src="@CardSet.Logo" alt/>
        <br/>
        <h3>@SetId</h3>
    </div>

    <main>
        <div class="container center">
            <div class="mt-3">
                <div>
                    <div class="row gy-3">
                        @foreach (var card in DataStorage.GetCards(CardSet))
                        {
                            <div class="col-6 col-sm-4 col-md-3 col-lg-2 corner-radial text-center">
                                <div class="pokemon-card shadow-sm">
                                    <div style="position: relative">
                                        <div class="menu-more">
                                            <img class="img-fluid card corner-radial" src="@card.CardImage" alt/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </main>
}

@code {
    [Parameter] public string SetId { get; set; }
}